:root {
  --background-light: #f1ecec;
  --text-light: #000000;
  --background-dark: #121212;
  --text-dark: #e0e0e0;
}

[data-theme="light"] {
  background-color: var(--background-light);
  color: var(--text-light);
}

[data-theme="dark"] {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

/* Ensure links and buttons have good contrast */
a {
  color: var(--text-light);
  transition: color 0.3s;
}

[data-theme="dark"] a {
  color: #a63232;
}

button {
  background: var(--text-light);
  color: var(--background-light);
  border: none;
  padding: 8px 16px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

[data-theme="dark"] button {
  background: var(--text-dark);
  color: var(--background-dark);
}
